body {
    background-color: black;
  }
  .container {border-style: groove;}
  h1 {
    color: navy;
    margin-left: 20px;
    text-decoration-line: underline;
    text-shadow: 2px 2px 2px lightcyan;
  }
  h2 {
    color: navy;
    margin-left: 20px;
    text-decoration-line: underline;
    text-shadow: 2px 2px 2px lightcyan;
  }
  .intro {
    border-style: groove;
    border-width: 3px;
    padding: 5px;
    background: rgba(222, 222, 255, 0.7);
  }
  .picBody{
    background-color: rgba(31, 31, 28, 0.9);

  }
  .paddedImg {
    padding: 7px;
    border: 3px solid rgba(25, 25, 25, 0.741); /* You can change the color and width */
    border-radius: 35%; /* Makes the border circular/elliptical */
}
.paddedImg_insp {
  padding: 7px;
  border: 3px solid rgba(219, 219, 219, 0.741); /* You can change the color and width */
  border-radius: 15%; /* Makes the border circular/elliptical */
}
  .logoImg{
    padding: 0px 0px;
  }
  h3 {
    margin-left: 20px;
    text-shadow: 2px 2px 2px lightcyan;
    border-style: outset;
    border-width: 4px;
    background: rgba(236, 226, 243, 0.8);
  }

  body {
    background-image: url("imgs/binary.png");
    /*
        background-size: 1250px;
    width: 1000px;
    height: 600px;
    */
   
  }
  
  @media screen and (max-width: 437px) 
  {
    .intro
  {
    
    width: device-width;
    

  }
}
  @media screen and (max-width: 537px) 
  {
    .logoImg
  {
    
    max-width: 60%;
    max-height: 40%;

  }
}